html {
  height: 100%;
  margin-left: 50px;
   background-image: url("https://image.freepik.com/free-vector/abstract-geometric-pattern-background_1319-242.jpg");

}


body {
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 100%;
  background-color: #D3C297;
}


#identified {
  font-style: oblique;
  color: #ffffff;

}

#beginning {
  background-color: #D3C297;
}

#start {
  background-color: #D3C297;
}

#middle {
  background-color: #D3C297;
}

#end {
  background-color: #D3C297;
}

.me {
  color:#03264C;
  font-style: oblique;
}

h1 {
 color:#03264C;
 font-size: 200%;
}

h2 {
color:#03264C;
}

h3 {

color:#ff494f;
}

p {
color:#020300;
}

a {
color:#ff494f;
}

nav {
  color:#ff494f;
}

hr {
  border-color: #ffffff;
}
